name: {{name}}
description: >
  {{description}}
url: {{url}}
license: {{license}}
preview: 
category: {{category}}{{tags}}
added: {{added}}
author:
  name: {{authorName}}
  website: {{authorWebsite}}
  avatar: {{authorAvatar}}
