%icon {
  background-image: url(/icons/control-icon.svg);
  display: block;
  height: 2rem;
  margin: 1rem auto 0 auto;
  width: 2rem;
}

.library-list {
  --gap: 1rem;
  --max-per-line: 3;
  --gap-total: calc(var(--gap) * (var(--max-per-line) - 1));
  --available-space: calc(var(--full-width) - var(--gap-total));
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--available-space) / var(--max-per-line)), 1fr));
  grid-gap: var(--gap);

  & .card {
    --icon-container-width: 3.75rem;
    background-image: linear-gradient(180deg, white, #fbfcff);
    background: var(--card-background-color);
    border-radius: 0.9rem;
    border: 1px solid rgba(116, 165, 255, 0.15);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
    mask-image: radial-gradient(white, black);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5);

    &:hover {
      transform: scale(1.05);
    }

    & .card-link {
      display: flex;
      text-decoration: none;
      color: var(--primary-fg-color);
    }

    & .title {
      margin: 0;
      font-style: italic;
    }

    & .author {
      font-size: 0.8rem;
      font-style: italic;
      font-weight: normal;
      margin: 0.3rem 0 1rem;

      & .avatar {
        --size: 22px;
        background-color: #ddd;
        border-radius: calc(var(--size) / 2);
        height: var(--size);
        margin-right: 0.5rem;
        vertical-align: middle;
        width: var(--size);
      }
    }

    & .content {
      padding: 1.2rem 1rem 1rem 1.5rem;
      text-align: left;
    }

    & .description {
      color: var(--secondary-fg-color);
    }

    & .icon-container {
      flex: 0 0 var(--icon-container-width);
      text-align: center;

      & .icon {
        @extend %icon;
      }

      & .icon-pattern {
        @extend %icon;
        opacity: 0.35;
      }

      &.chart {
        background-color: var(--color-magenta);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/chart-icon.svg);
        }
      }

      &.layout {
        background-color: var(--color-blue);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/layout-icon.svg);
        }
      }

      &.animation {
        background-color: var(--color-yellow);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/animation-icon.svg);
        }
      }

      &.color {
        background-color: var(--color-teal);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/color-icon.svg);
        }
      }

      &.control {
        background-color: var(--color-orange);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/control-icon.svg);
        }
      }

      &.graphics {
        background-color: var(--color-purple);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/graphics-icon.svg);
        }
      }

      &.image {
        background-color: var(--color-purple);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/image-icon.svg);
        }
      }

      &.navigation {
        background-color: var(--color-dark-blue);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/navigation-icon.svg);
        }
      }

      &.extension {
        background-color: var(--color-green);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/extension-icon.svg);
        }
      }
    }
  }
}

mark {
  background-color: rgba(255, 184, 15, 0.3);
  color: var(--primary-fg-color);
}
