%icon {
  background-image: url(/icons/control-icon.svg);
  display: block;
  height: 2rem;
  margin: 1rem auto 0 auto;
  width: 2rem;
}

.library-list {
  --color-blue: #0096ff;
  --color-orange: #ff6126;
  --color-yellow: #ffb80f;
  --color-green: #86c436;
  --color-brown: #cd7800;
  --color-purple: #b326ff;
  --color-dark-blue: #2b55ff;
  --color-teal: #06be85;
  --color-gray: #5a727a;

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (--card-two-columns) {
    justify-content: space-between;
  }

  @media (--card-one-column) {
    justify-content: center;
  }

  & .card {
    --icon-container-width: 3.75rem;
    background-image: linear-gradient(180deg, white, #fbfcff);
    border-radius: 0.9rem;
    border: 1px solid rgba(116, 165, 255, 0.15);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.05);
    height: 12rem;
    margin-bottom: 1.5rem;
    mask-image: radial-gradient(white, black);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5);

    @media (--card-three-columns) {
      flex: 0 1 32%;
      margin-right: 2%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (--card-two-columns) {
      flex: 0 1 49%;
    }

    @media (--card-one-column) {
      flex: 0 1 22em;
      height: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    & .card-link {
      display: flex;
      text-decoration: none;
      color: var(--primary-fg-color);
    }

    @media (--dark-mode) {
      background: #04090d;
      border-image: none;
    }

    & .title {
      margin: 0;
      font-style: italic;
    }

    & .author {
      font-size: 0.8rem;
      font-style: italic;
      font-weight: normal;
      margin: 0.3rem 0 1rem;

      & .avatar {
        --size: 22px;
        background-color: black;
        border-radius: calc(var(--size) / 2);
        height: var(--size);
        margin-right: 0.5rem;
        vertical-align: middle;
        width: var(--size);
      }
    }

    & .content {
      padding: 1.2rem 1rem 1rem 1.5rem;
      text-align: left;
    }

    & .description {
      color: var(--secondary-fg-color);
    }

    & .icon-container {
      flex: 0 0 var(--icon-container-width);
      text-align: center;

      & .icon {
        @extend %icon;
      }

      & .icon-pattern {
        @extend %icon;
        opacity: 0.35;
      }

      &.chart {
        background-color: var(--color-brown);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/chart-icon.svg);
        }
      }

      &.layout {
        background-color: var(--color-blue);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/layout-icon.svg);
        }
      }

      &.animation {
        background-color: var(--color-yellow);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/animation-icon.svg);
        }
      }

      &.color {
        background-color: var(--color-teal);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/color-icon.svg);
        }
      }

      &.control {
        background-color: var(--color-orange);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/control-icon.svg);
        }
      }

      &.graphics {
        background-color: var(--color-purple);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/graphics-icon.svg);
        }
      }

      &.image {
        background-color: var(--color-purple);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/image-icon.svg);
        }
      }

      &.navigation {
        background-color: var(--color-dark-blue);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/navigation-icon.svg);
        }
      }

      &.extension {
        background-color: var(--color-gray);

        & .icon,
        & .icon-pattern {
          background-image: url(/icons/extension-icon.svg);
        }
      }
    }
  }
}

mark {
  background-color: rgba(255, 184, 15, 0.3);
  color: var(--primary-fg-color);
}
