:root {
  --body-bg-color: white;
  --primary-fg-color: #13212d;
  --secondary-fg-color: #5374b1;
  --link-color: #222;
  --side-pattern-bg-color: #99abd7;
  --card-bg-color: color-mod(var(--link-color) alpha(10%));
  --search-field-bg-color: color-mod(var(--secondary-fg-color) alpha(8%));

  --full-width: 70rem;
  --side-pattern-offset: 36px;
  --search-field-fg-color: var(--primary-fg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #13212d;
    --primary-fg-color: white;
    --secondary-fg-color: #a4bfef;
    --link-color: #dee2e6;
    --card-bg-color: color-mod(var(--link-color) alpha(80%));
    --side-pattern-bg-color: #507a9d;
    --search-field-bg-color: rgba(0, 0, 0, 0.4);
  }
}

@custom-media --larger-than-max-width (width >= 70rem);
@custom-media --smaller-than-max-width (width < 70rem);
@custom-media --compact-layout (width < 40rem);
@custom-media --full-layout (width >= 40rem);
@custom-media --ultra-compact-layout (width < 20rem);
@custom-media --card-two-column (width < 1000px);
@custom-media --card-one-column (width < 620px);
@custom-media --dark-mode (prefers-color-scheme: dark);

%side-pattern {
  position: relative;

  &::before {
    --width: 18px;
    content: '';
    height: 100%;
    width: var(--width);
    background: var(--side-pattern-bg-color);
    display: block;
    position: absolute;
    left: calc(-1 * var(--width) - var(--side-pattern-offset));
  }
}
