:root {
  --body-bg-color: white;
  --primary-fg-color: #13212d;
  --secondary-fg-color: #5374b1;
  --link-color: #0096ff;
  --side-pattern-bg-color: #99abd7;
  --card-background-color: color-mod(#99abd7 l(98%));
  --search-field-bg-color: color-mod(var(--secondary-fg-color) l(97%));

  --full-width: 68rem;
  --side-pattern-offset: 3.4em;
  --search-field-fg-color: var(--primary-fg-color);

  --color-blue: #0096ff;
  --color-orange: #ff6126;
  --color-yellow: #ffb80f;
  --color-green: #86c436;
  --color-brown: #cd7800;
  --color-purple: #b326ff;
  --color-dark-blue: #2b55ff;
  --color-teal: #06be85;
  --color-gray: #5a727a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #13212d;
    --primary-fg-color: white;
    --secondary-fg-color: #a4bfef;
    --link-color: #0096ff;
    --side-pattern-bg-color: #507a9d;
    --card-background-color: #04090d;
    --search-field-bg-color: rgba(0, 0, 0, 0.4);
  }
}

@custom-media --larger-than-max-width (width >= 70rem);
@custom-media --smaller-than-max-width (width < 70rem);
@custom-media --compact-layout (width < 40rem);
@custom-media --full-layout (width >= 40rem);
@custom-media --ultra-compact-layout (width < 20rem);
@custom-media --dark-mode (prefers-color-scheme: dark);

@custom-media --card-one-column (width < 45em);
@custom-media --card-two-columns (width < 65em);
@custom-media --card-three-columns (width >= 65em);

%side-pattern {
  position: relative;

  &::before {
    --width: 18px;
    content: '';
    height: 100%;
    width: var(--width);
    background: var(--side-pattern-bg-color);
    display: block;
    position: absolute;
    left: calc(-1 * var(--width) - var(--side-pattern-offset));
  }
}
