:root {
  --primary-color: #0042b0;
  --full-width: 60rem;
}

@custom-media --larger-than-max-width (width >= 60rem);
@custom-media --smaller-than-max-width (width < 60rem);
@custom-media --compact-layout (width < 40rem);
@custom-media --full-layout (width >= 40rem);

* {
  box-sizing: border-box;
}

body {
  background: none;
  font-family: "Quattro";
  margin: 0;
  padding: 0;
}

a {
  color: orange;
}

.main-container {
  max-width: var(--full-width);
  margin: 0 auto;
  padding: 2rem;

  @media (--larger-than-max-width) {
    padding: 0;
  }
}

.site-header {
  & a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
  }

  & .header-link {
    & span {
      display: block;
      font-weight: normal;
    }
  }
}

.header-body {
  @media (--full-layout) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & * {
      flex: 0 0 48%;
    }
  }
}

.package-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .package {
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    margin-bottom: 2%;
    border-radius: 1rem;
    text-align: center;
    flex: 0 1 30%;

    & a {
      color: lightblue;
    }

    & .writing {
      font-size: 2rem;
      margin: 0.5em 0;
    }

    & .definition {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }

    & .game-list {
      padding: 0;
      list-style: none;
    }

    & .game {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 0.6rem;
      padding: 0.5rem;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.7);
      display: flex;
      align-items: center;
    }

    & .game-cover {
      max-width: 30px;
      border-radius: 4px;
      vertical-align: middle;
      margin-right: 1em;
    }

    & .game-metadata {
      display: inline-block;
      text-align: left;
    }

    & .date {
      opacity: 0.5;
      font-size: 0.9em;
    }
  }
}

.hidden {
  display: none;
}
