@import "_variables";
@import "_packages";

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg-color);
  color: var(--primary-fg-color);
  font-family: "Quattro";
  margin: 0;
  padding: 0;
}

a {
  color: orange;
}

.main-container {
  display: grid;
  margin: 0 auto;
  max-width: var(--full-width);
  min-height: 100vh;
  padding: 2rem;
  grid-template-rows: auto 1fr auto;

  @media (--larger-than-max-width) {
    padding: 0;
  }
}

.site-header {
  @extend %side-pattern;

  &::before {
    opacity: 0.5;
  }

  & a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--link-color);
  }

  & .header-link {
    line-height: 1;
    display: inline-block;

    & h1 {
      margin: 0;
      padding: 3.5rem 0 1.5rem 0;
      letter-spacing: 0.05rem;
    }

    & span {
      display: block;
      font-weight: 400;
      font-size: 1.8rem;
      letter-spacing: 0.14rem;
      margin-top: 0.2rem;
      text-transform: uppercase;
    }
  }

  & .intro {
    display: inline-block;
    line-height: 1.5;
    color: var(--secondary-fg-color);
    font-size: 0.9rem;
    max-width: 26rem;
    margin-left: 2rem;
  }
}

.page-content {
  @extend %side-pattern;

  &::before {
    opacity: 0.1;
  }
}

.content-section {
  padding-top: 2rem;
}

.header-body {
  @extend %side-pattern;

  &::before {
    opacity: 0.2;
  }

  & .search-input {
    letter-spacing: 0.05em;
    background-color: var(--search-field-bg-color);
    border-radius: 0.5rem;
    border: none;
    color: var(--search-field-fg-color);
    font-size: 1rem;
    margin: 1rem 0;
    outline: none;
    padding: 1rem;
    width: 100%;

    &::placeholder {
      color: color-mod(var(--secondary-fg-color) alpha(90%));
    }
  }

  & .hint {
    color: var(--secondary-fg-color);
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    margin-left: 0.5rem;
    opacity: 0.7;
    transition: opacity 0.5s;

    &.hidden {
      display: block;
      opacity: 0;
    }
  }
}

.title-container {
  align-items: baseline;
  display: flex;
  margin-bottom: 1rem;

  & .section-title {
    text-transform: uppercase;
    font-size: 0.96rem;
    letter-spacing: 0.1em;
  }

  & .line {
    background-color: var(--search-field-bg-color);
    flex-grow: 1;
    height: 5px;
    opacity: 0.6;
    margin-left: 1rem;
  }
}

.hidden {
  display: none;
}

.site-footer {
  @extend %side-pattern;

  &::before {
    opacity: 0.05;
  }
}
